@import url('header/header.css');

@import url('container/container.css');

@import url('footer/footer.css');


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700&subset=latin,cyrillic);



*{
   padding: 0;
   margin: 0;
   font-family: 'Roboto', sans-serif;
}






