.container__why-we {
   display: flex;
   width: 100%;
   flex-direction: column;
}

.container__why-we-block{
   display: flex;
   justify-content: space-between;
}

.container__why-we-block img{
   margin: 0 25px 0 30px;
   width: 24.9px;
   height: 20.5px;
}

.container__why-we-block-left, .container__why-we-block-right{
   width: 543px;
   border-radius: 12px;
}

.container__left__topic, .container__right__topic{
   text-transform: uppercase;
   display: flex; 
   align-items: center;
   width: 100%;
   height: 79px;
   color: #FFFFFF;
   font-size: 15px;
   font-weight:bold;
   border-radius: 12px 12px 0px 0px;
}

.container__why-we-block-left { 
   border: 3px solid #F7C7C7;   
}

.container__left__topic {    
   background: #CA0B13;
}

.container__why-we-block-right { 
   border: 3px solid #A4D6B0; 
}

.container__right__topic {    
   background: #16A332;
}

.container__why-we ul{
   margin: 25px;
   
}

.container__why-we li{
   margin-left: 25px;
   margin-bottom: 12px;
}

.container__why-we-block-left_text li {
    color: #CA0B13; 
}

.container__why-we-block-right li{

   color: #15A232;
}

li span {   
   color: black;
}

span.bold{
   font-weight: bold;
}

@media (max-width: 750px){

   .container__why-we{
      display: none;
   }
   
}