.container__brands{
   display: flex;
   width: 100%;
   flex-direction: column;
   justify-content: space-between;

}
.container__brands__img, .container__brands__img-mobile{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.container__brands__img img{   
   max-width: 206px;
   max-height: 66px;
}
.container__brands__img-mobile{
   display: none;
}
@media (max-width: 1440px){
   .container__brands__img-mobile{
      display: flex;
   }
   .container__brands__img-mobile img{
      width: 20%;
   }
   .container__brands__img{
      display: none;
   }

}

@media (max-width: 980px){

   .img-mobile{
      display: none;
   }
   
}

@media (max-width: 750px){

   .container__brands{
      display: none;
   }
   
}